DB_SERVER=localhost
DB_PORT=1433
DB_NAME=DB-Name
DB_USER=sa
DB_PASSWORD=Your-password


Jwt__Issuer=
Jwt__Audience=
Jwt__SigningKey=
Jwt__AccessTokenMinutes=

GoogleAuth__ClientId=

Gemini__ApiKey=
Gemini__Model=